extends ../layouts/base.pug


block content
    each webtoon in webtoons
        section.wholeFinishedWebtoon
            main.main
                section.content
                    div.webtoonBox
                        div.webtoonBox__top
                            div.poster
                        div.webtoonBox__bottom
                            article.mr__title 웹툰 번호:---#{webtoon.id}
                            article.mr__title #{webtoon.title}
                            article.mr__score #{webtoon.score}
                            article.mr__episode #{webtoon.episode}
                            article.mr__episode #{webtoon.being}

            