extends ../layouts/base.pug

block content
    from(action=`/board/detail/:${boardId}`, method="get")
        h1 #{board.title}
        h2 #{board.content}
        h3 #{board.createAt}
        h4 #{board.id}

        a(href=`/board/update/:${boards.id}`)
            button 수정하기 