extends ../layouts/base.pug

block content
    div
        h1 #{result.title}
        h2 #{result.content}
        h3 #{result.createAt}
        h4 #{result.id}

        form(action="/board/update", method="get")
            input(type="hidden" name="boardId" value=result.id)
            input(type="submit" value="수정하기")

        form(action="/board/delete", method="post")
            input(type="hidden" name="boardId" value=result.id)
            input(type="submit" value="삭제하기") 
            
        form(action="/board/question", method="get")
            input(type="submit" value="목록으로") 
