extends ../layouts/base.pug

block content
    form.bt(action="/board/create", method="get") 
        input(type="submit" value="작성하기") 
    
    each board in boards
        form(action=`/board/detail/${board.id}` method="GET") 
            button
                div TITLE: #{board.title} 
                div CONTENT: #{board.content}
                div CREATEDAT: #{board.createdAt}
                div ID: #{board.id}
                
        br
        hr
        