extends ../../layouts/base.pug

block content
    section.wholeWrapper 
        section.XX__left 
        section.rsWrapper
            div.questionimg
                p CONTAC US
            div.questiontop
                p 문의하기
            div.questionBox
                ul.questionBox__List
                    li 번호
                    li 제목
                    li 작성자
                    li 작성일
                each b in boardList
                    a(href=`/board/questiondetail?bid=${b.id}`)
                        ul.questionBox__dataList
                            li #{b.id}
                            li #{b.title}
                            li #{b.name}
                            li #{b.createdAt}
            div.questionbuttom                
                if loggedIn 
                    a(href="/board/questioncreate") 
                        button 글작성            

        section.XX__right 
        