extends ../../layouts/base.pug

block content
    section.wholeWrapper 
        section.XX__left 
        section.rsWrapper
            if loggedIn 
                a(href="/board/questioncreate") 글작성

            each b in boardList
                a.boardData(href=`/board/questiondetail?bid=${b.id}`)
                    div #{b.id}
                    div #{b.title}
                    div #{b.name}
                    div #{b.createdAt}

        section.XX__right 
        