extends ../../layouts/main.pug

block content
    section.wholeWrapper 
        section.XX__left 
        section.rsWrapper
            div.eventtop
                a(href="/event/eventlist") 
                    p 이벤트
            div.eventlist    
                a(href="/board/questionlist") 
                    p 문의하기
                a(href="/free/list") 
                    p 자유게시판
                a(href="/") 
                    p 공지사항 
                a(href="/") 
                    p FAQ  
                a(href="/") 
                    p Q＆A               
            div.eventBox
                ul.eventBox__List
                    li 번호
                    li 제목
                    li 작성자
                    li 작성일
                each b in eventList
                    a(href=`/event/eventdetail?bid=${b.id}`)
                        ul.eventBox__dataList
                            li #{b.id}
                            li #{b.title}
                            li #{b.name}
                            li #{b.createdAt}
            div.eventbuttom                
                if loggedIn 
                    a(href="/event/eventcreate") 
                        button 글작성            

        section.XX__right 